/* Importadoes de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap");

/* paginaError */
.juego {
  font-family: "Orbitron", sans-serif;
}

/* Agregar efecto Neon */
.verde {
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white,
    0 0 80px white, 0 0 90px white, 0 0 100px white;
  color: rgb(108, 55, 237);
}
.colorFuente {
  color: rgb(108, 55, 237);
}

/* Ahorcado */

#ahorcado {
  height: 220px;
  width: 200px;
  background-image: url("../img/juegoAhorcado.png");
}

/* Pagina Favoritos*/
.panelUsuario {
  width: 40%;
}

/* Estilo navbar */
.bgIndex {
  background: rgb(108, 55, 237);
  background: linear-gradient(
    90deg,
    rgba(108, 55, 237, 1) 5%,
    rgba(117, 67, 238, 1) 55%,
    rgba(121, 73, 238, 1) 100%,
    rgba(137, 94, 239, 1) 100%
  );
}
.fontNav {
  font-family: "Cabin", sans-serif;
}
.wLogo {
  width: 200px;
}

/* pagina principal */
.tituloPrincipal {
  font-family: "Inconsolata", monospace;
  font-size: 50px;
}
.tituloCategorias {
  font-family: "Cabin", sans-serif;
}

.bgTituloCatalogo {
  background-color: rgba(255, 255, 255, 0.609);
}

/* background Body Index*/
.bgBody {
  background-image: url(/img/bg\ frutos.png);
  background-size: 350px;
}
.bgProductos {
  background-color: rgba(255, 255, 255, 0.507);
}

/* background footer*/
.bgfooter {
  background-image: url(/img/bg\ frutos\ y\ marca.png);
  background-size: 1400px;
}
.bgFooter2 {
  background: rgb(108, 55, 237);
  background: linear-gradient(
    90deg,
    rgba(107, 55, 237, 0.89) 5%,
    rgba(118, 67, 238, 0.9) 55%,
    rgba(121, 73, 238, 0.9) 100%,
    rgba(137, 94, 239, 0.9) 100%
  );
}

.bgError {
  background-color: #44329296;
}
.wformulario {
  width: 85%;
}

/* background de tablas */
thead {
  background: #433292;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #574c8a;
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: #6b698d;
  color: white;
}

table {
  border: 2px solid #a083ef;
}

.bgFormAdmin {
  background-color: #6b698d;
}

/* backGround Login/Create */
.fondoLoginCreate {
  background-color: rgba(35, 6, 139, 0.767);
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* medias query */
@media all and (max-width: 1023px) {
  .navBarResponsive {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .textoCentrado {
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .navBarResponsive {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .textoCentrado {
    text-align: center;
  }
}
